<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logo.png" width="50" height="28" alt="logo">
      </a>

      {{ if site.Menus.main }}
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="header-navbar"
        onclick="document.querySelector('#header-navbar').classList.toggle('is-active');">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      {{ end }}
    </div>
    {{ $currentPage := . }}
    {{ with .Site.Menus.main }}
    <div id="header-navbar" class="navbar-menu">
      <div class="navbar-start">
        {{ range . }}
        {{ $currentPageInMenu := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
        <a class="navbar-item {{ if $currentPageInMenu }}is-active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</nav>