<div class="level">
  <div class="level-left">
    {{with .NextPage}}
    <a class="level-item button is-primary" href="{{.RelPermalink}}">« {{ .Title }}</a>
    {{end}}
  </div>
  <div class="level-right">
    {{with .PrevPage}}
    <a class="level-item button is-primary" href="{{.RelPermalink}}">{{ .Title }} »</a>
    {{end}}
  </div>
</div>