{{ define "main" }}
{{ $kalenderUrl := (.Site.GetPage "dienst").OutputFormats.Get "calendar" }}
<h1 class="title">{{ .Title }}</h1> <a href="{{ $kalenderUrl.RelPermalink }}" class="button">Zet in agenda</a>
{{ $gisteren := (now.AddDate 0 0 -1) }}
{{ $alleDiensten := where .Site.Pages "Type" "dienst" }}
{{ $komendeDiensten := where $alleDiensten "Params.date" "gt" $gisteren }}
{{ if $komendeDiensten }}
<div class="columns is-multiline">
    {{ range $komendeDiensten.ByParam "date"}}
    <div class="column is-one-quarter">
        {{ partial "diensten/card.html" . }}
    </div>
    {{ end }}
</div>
{{ else }}
<p class="notification">Er staat momenteel niets op de agenda.</p>
{{ end }}
{{ end }}