{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>
<div class="columns is-multiline">
  {{ $morgen := (now.AddDate 0 0 1) }}
  {{ $afgelopenDiensten := where .Pages ".Params.date" "lt" $morgen }}
  {{ range ($afgelopenDiensten.ByParam "date").Reverse }}
  <div class="column is-one-quarter">
    {{ partial "diensten/card.html" . }}
  </div>
  {{ end }}
</div>
{{ end }}