{{ define "main" }}
<div class="columns is-multiline">
    <div class="column is-two-third">
        <h1 class="title">{{ .Title }}</h1>
        {{ $dienstdatum := time .Params.date}}
        <p class="subtitle">
            {{ partial "datetime/longdate.html" (dict "datum" $dienstdatum "maanden" $.Site.Data.maanden) }}
        </p>

        {{ .Content }}

        {{ partial "listtags.html" . }}

        {{ partial "multimedia.html" . }}
    </div>
    {{ if .Params.Sprekers }}
    <div class="column is-one-third">
        {{ partial "sprekers/sprekers.html" . }}
    </div>
    {{ end }}
</div>

{{ partial "navigation/nextprevpage.html" .}}
{{ end }}