<a class="box" href="{{ .RelPermalink }}">
    <div>
        <p class="title is-6 mb-1">{{ .Title }}</p>
        <div class="media">
            <div class="media-content">
                <p class="subtitle is-7">
                    <span class="is-greyscale">🕗</span>
                    {{ $dienstdatum := time .Params.date }}
                    {{ partial "datetime/longdate.html" (dict "datum" $dienstdatum "maanden" $.Site.Data.maanden) }}
                </p>
                {{ range .Params.sprekers }}
                {{ $spreker := $.Site.GetPage (printf "/sprekers/%s" (. | urlize) ) }}
                {{ $spreker.Title }}
                {{ end }}
            </div>
            <div class="media-right">
                {{ if .Params.videos }}
                <span class="tag is-primary">video</span>
                {{ end }}
                {{ if .Params.audio }}
                <span class="tag is-info">audio</span>
                {{ end }}
            </div>
        </div>
    </div>
</a>