@import "./colors.scss";
@import "./bulma-imports.scss";

// Let audio elements fill their containers width
audio {
    width: 100%;
    display: block;
}
// Let all boxes have the same height in a row
.columns > .column > .box {
    height: 100%;
}

.is-greyscale {
    filter: grayscale(100%);
}