{{ define "main" }}
<h1 class="title">
  {{ .Title }}
</h1>

<div class="columns is-multiline">
  <div class="column">
    <div class="columns is-multiline">
      {{ range .Pages.ByPublishDate.Reverse }}
      <div class="column is-half">
        {{ partial "diensten/card.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
  <div class="column">
    <div>
      {{ partial "sprekers/card.html" . }}
    </div>
  </div>
</div>

{{ partial "navigation/nextprevpage.html" .}}
{{ end }}