<!doctype html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  {{ block "header" .}}
  {{ partial "navigation/navbar.html" . }}
  {{ end }}
  <section class="section">
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </section>
  {{ block "footer" . }}
  {{ partial "footer.html" . }}
  {{ end }}
</body>

</html>