{{ define "main" }}

<h1 class="title">{{ .Title }}</h1>
{{ range .Data.Terms.Alphabetical }}
<p>
    <a href="{{ .Page.RelPermalink }}">
        <span class="tag">{{ .Count }}</span> {{ .Page.Title }}
    </a>
</p>
{{ end }}

{{ end }}