{{ with .Params.Tags }}
<div class="tags">
    {{ range . }}
    {{ with $.Site.GetPage (printf "/%s/%s" "tags" (. | urlize)) }}
    <a class="tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
    {{ end }}
</div>
{{ end }}