{{ range .Params.audio }}
<audio class="is-fullwidth" controls preload="metadata">
  <source src="{{ . }}" type="audio/mpeg">
</audio>
{{ end }}
{{ range .Params.videos }}
<figure class="image is-16by9">
  <div class="has-ratio notification is-light">
    <h1 class="subtitle has-text-centered">Video wordt geladen...</h1>
  </div>
  <iframe class="has-ratio" src="{{ . }}" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
{{ end }}