{{ define "header" }}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure>
        <img src={{"logo.png" | relURL}} alt="logo" />
      </figure>
      <h1 class="title">
        {{ .Site.Params.homeText | markdownify }}
      </h1>
    </div>
  </div>
</section>

{{ end }}

{{ define "main" }}

<div class="tile is-ancestor">
  {{ range .Site.Menus.main }}
  <div class="tile is-parent">
    <a class="tile is-child box is-48x48" href="{{ .URL }}">
      {{ .Name }}
    </a>
  </div>
  {{ end }}
</div>

{{ end }}

{{ define "footer" }}
<span></span>
{{ end }}