<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-6"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
                {{ with .Params.website }}
                <p>www: <a href="{{ . }}">{{ . }}</a></p>
                {{ end }}
            </div>
            {{ with .Params.foto }}
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{{ . }}" alt="foto">
                </figure>
            </div>
            {{ end }}
        </div>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ .RelPermalink }}" class="card-footer-item">Profiel</a>
    </div>
</div>