<div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
        {{ range .Params.sprekers }}
            {{ $spreker := $.Site.GetPage (printf "/sprekers/%s" (. | urlize) ) }}
            <div class="tile is-parent is-vertical">
                {{ partial "sprekers/card.html" $spreker }}
            </div>
        {{ end }}
    </div>
</div>